<h1>- Dansez pas à pas ! -</h1>
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <input
          type="text"
          name="isearch"
          formControlName="isearch"
          placeholder="recherche..."
        />
        <a href="#" class="search_icon" (click)="onSearch()">
          <i class="fa fa-search" name="search"></i>
        </a>
      </form>
    </div>
  </div>
</div>
<br />
<div class="container">
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#badeb"
  >
    Bachata débutant
  </button>
  <div id="badeb" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#bainter"
  >
    Bachata intermédiaire
  </button>
  <div id="bainter" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#baav"
  >
    Bachata avancé
  </button>
  <div id="baav" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>

  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#baav"
  >
    Forro débutant
  </button>
  <div id="baav" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#baav"
  >
    Forro intermédiaire
  </button>
  <div id="baav" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#baav"
  >
    Forro avancé
  </button>
  <div id="baav" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#rocde"
  >
    Rock débutant
  </button>
  <div id="rocde" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#rocin"
  >
    Rock intermédiaire
  </button>
  <div id="rocin" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#rocav"
  >
    Rock avancé
  </button>
  <div id="rocav" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#salde"
  >
    Salsa débutant
  </button>
  <div id="salde" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#salin"
  >
    Salsa intermédiaire
  </button>
  <div id="salin" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#salav"
  >
    Salsa avancé
  </button>
  <div id="salav" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#kizde"
  >
    Kizomba débutant
  </button>
  <div id="kizde" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#kizin"
  >
    Kizomba intermédiaire
  </button>
  <div id="kizin" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-info"
    data-toggle="collapse"
    data-target="#kizav"
  >
    Kizomba avancé
  </button>
  <div id="kizav" class="collapse">
    <ul>
      <li class="list-group-item">video1</li>
      <li class="list-group-item">video2</li>
      <li class="list-group-item">video3</li>
      <li class="list-group-item">video4</li>
    </ul>
  </div>
</div>
<!-- <ul *ngFor="let danse of listDanses" class="list-group">
  <li class="list-group-item" class="list-group-item">
    {{ danse.nomDanse }} -->
<!-- <div *ngIf="danseSelected == danse">
      <ul class="list-group">
        <li class="list-group-item" class="list-group-item">
          Débutant
          <div>
            <iframe width="190" height="125" src="https://www.youtube.com/embed/jJiS71yrnyk" frameborder="4"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </li>
        <li class="list-group-item" class="list-group-item">
          Intermédiaire
          <div></div>
        </li>
        <li class="list-group-item" class="list-group-item">
          Avancé
          <div></div>
        </li>
      </ul>
    </div> -->
<!-- </li>
  </ul> -->
